name: Sync to GitLab

on:
  push:
    branches:
      - main
      - master
      - '**'   # Optional: sync all branches

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Push to GitLab
        run: |
          git remote add gitlab "$GL_REPO_URL"
          git config user.name "GitHub Sync Bot"
          git config user.email "sync@github-actions"
          # git push gitlab --all --force-with-lease
          # git push gitlab --tags --force-with-lease
          git push gitlab --all 
          git push gitlab --tags
        env:
          GL_REPO_URL: https://oauth2:${{ secrets.GL_PAT }}@gitlab.kuleuven.be/wet/ximera/ximeraworkshop-github.git

